{% extends 'backbase.html.twig' %}

{% block content %}
    <h1>Detailsstatistique creation</h1>








    <ul>
        <li>
            <a href="{{ path('detailsstatistique_index') }}">Back to the list</a>
        </li>
    </ul>


    <div class="row">
        <div class="col-md-6 animatedParent animateOnce z-index-50">
            <div class="panel panel-primary animated fadeInUp">
                <div class="panel-heading clearfix">
                    <div class="panel-title">Primary Panel</div>
                    <ul class="panel-tool-options">
                        <li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#" aria-expanded="false"><i class="icon-cog"></i></a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="#"><i class="icon-arrows-ccw"></i> Update data</a></li>
                                <li><a href="#"><i class="icon-list"></i> Detailed log</a></li>
                                <li><a href="#"><i class="icon-chart-pie"></i> Statistics</a></li>
                                <li class="divider"></li>
                                <li><a href="#"><i class="icon-cancel"></i> Clear list</a></li>
                            </ul>
                        </li>
                        <li><a data-rel="collapse" href="#"><i class="icon-down-open"></i></a></li>
                        <li><a data-rel="reload" href="#"><i class="icon-arrows-ccw"></i></a></li>
                        <li><a data-rel="close" href="#"><i class="icon-cancel"></i></a></li>
                    </ul>
                </div>
                <!-- panel body -->
                <div class="panel-body">
                    {{ form_start(form, {'attr': {'id': 'equipeA'}}) }}
                    {{ form_widget(form) }}
                    <input type="submit" value="Create" />
                    {{ form_end(form) }}                </div>
            </div>
        </div>
        <div class="col-md-6 animatedParent animateOnce z-index-49">
            <div class="panel panel-danger animated fadeInUp">
                <div class="panel-heading clearfix">
                    <div class="panel-title">Panel Default</div>
                    <ul class="panel-tool-options">
                        <li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#" aria-expanded="false"><i class="icon-cog"></i></a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="#"><i class="icon-arrows-ccw"></i> Update data</a></li>
                                <li><a href="#"><i class="icon-list"></i> Detailed log</a></li>
                                <li><a href="#"><i class="icon-chart-pie"></i> Statistics</a></li>
                                <li class="divider"></li>
                                <li><a href="#"><i class="icon-cancel"></i> Clear list</a></li>
                            </ul>
                        </li>
                        <li><a data-rel="collapse" href="#"><i class="icon-down-open"></i></a></li>
                        <li><a data-rel="reload" href="#"><i class="icon-arrows-ccw"></i></a></li>
                        <li><a data-rel="close" href="#"><i class="icon-cancel"></i></a></li>
                    </ul>
                </div>
                <!-- panel body -->
                <div class="panel-body">
                    {{ form_start(form2) }}
                    {{ form_widget(form2) }}
                    <input type="submit" value="Create" />
                    {{ form_end(form2) }}



                </div>
            </div>
        </div>
    </div>

    <div class="timeline-basic timeline-center clearfix">

        <!-- Timeline Entry -->
        <div class="timeline-entry animatedParent animateOnce z-index-50">
            <div class="timeline-circle timeline-icon"><i class="icon-credit-card"></i></div>
            <div class="timeline-panel animated fadeInUp">
                <div class="timeline-heading">
                    <h2 class="timeline-title">Introduction</h2>
                </div>
                <div class="timeline-body">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
                </div>
            </div>
        </div>
        <!-- /timeline entry -->

        <!-- Timeline Entry -->
        <div class="timeline-entry animatedParent animateOnce z-index-49 left-aligned">
            <div class="timeline-circle timeline-icon"><i class="icon-credit-card"></i></div>
            <div class="timeline-panel animated fadeInUp">
                <div class="timeline-heading">
                    <h2 class="timeline-title">Introduction</h2>
                </div>
                <div class="timeline-body">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
                </div>
            </div>
        </div>
        <!-- /timeline entry -->

        <!-- Timeline Entry -->
        <div class="timeline-entry animatedParent animateOnce z-index-48">
            <div class="timeline-circle timeline-icon"><i class="icon-credit-card"></i></div>
            <div class="timeline-panel animated fadeInUp">
                <div class="timeline-heading">
                    <h2 class="timeline-title">Introduction</h2>
                </div>
                <div class="timeline-body">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
                </div>
            </div>
        </div>
        <!-- /timeline entry -->

        <!-- Timeline Entry -->
        <div class="timeline-entry animatedParent animateOnce z-index-47 left-aligned">
            <div class="timeline-circle timeline-icon"><i class="icon-credit-card"></i></div>
            <div class="timeline-panel animated fadeInUp">
                <div class="timeline-heading">
                    <h2 class="timeline-title">Introduction</h2>
                </div>
                <div class="timeline-body">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
                </div>
            </div>
        </div>
        <!-- /timeline entry -->

        <!-- Timeline Entry -->
        <div class="timeline-entry animatedParent animateOnce z-index-46">
            <div class="timeline-circle timeline-icon"><i class="icon-credit-card"></i></div>
            <div class="timeline-panel animated fadeInUp">
                <div class="timeline-heading">
                    <h2 class="timeline-title">Introduction</h2>
                </div>
                <div class="timeline-body">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
                </div>
            </div>
        </div>
        <!-- /timeline entry -->

    </div>
{% endblock %}
{% block js %}
    <script src="{{ asset('back/js/plugins/select2/select2.full.min.js') }}"></script>
    <script>
        $(document).ready(function () {
           /* $("#equipeA").empty();
            $(".select2").select2();
            $('.dataTables-example').DataTable({
                dom: '<"html5buttons" B>lTfgitp',
                buttons: [
                    {
                        extend: 'copyHtml5',
                        exportOptions: {
                            columns: [ 0, ':visible' ]
                        }
                    },
                    {
                        extend: 'excelHtml5',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'pdfHtml5',
                        exportOptions: {
                            columns: [ 0, 1, 2, 3, 4 ]
                        }
                    },
                    'colvis'
                ]
            });*/

            $("#groupe").change(function()
            {
                $("#equipeA").empty();
                $("#equipeB").empty();
                var groupe = $(this).val();
                var  ala =  $("#phase").val();
                //var  ala =  $("#equipeA").val();
                console.log(ala);
                /*if (groupe =="Poule")
                 $("#tt").css('display', 'block');
                 else
                 $("#tt").css('display', 'none');*/
                $.ajax({

                    url      : "{{ path('match_list') }}",
                    data     : {id: groupe ,phase: ala},
                    type     : 'GET',
                    dataType : 'JSON',
                    error    : function(request, error) {
                        alert("Erreur fhghfhfg: "+error);
                    },
                    success  : function(data) {
                        console.log(JSON.stringify(data));
                        $.each(data,function(i,item) {
                            var d="<option value="+item.id+">"+item.nom+"</option>";
                            $('#equipeA').append(d);

                        })

                    }
                });
            });

            $("#equipeA").change(function()
            {

                $("#equipeB").empty();
                var  groupe =  $("#groupe").val();
                var  equipea =  $("#equipeA").val();
                var phasee = $("#phase").val();
                $.ajax({
                    url      : "{{ path('match_listt') }}",
                    data     : {id: groupe ,equipeA: equipea,phase:phasee},
                    type     : 'GET',
                    dataType : 'JSON',
                    error    : function(request, error) {
                        alert("Erreur fhghfhfg: "+error);
                    },
                    success  : function(data) {
                        // alert("sdfsdf");
                        console.log(JSON.stringify(data));
                        $.each(data,function(i,item) {
                            var d="<option value="+item.id+">"+item.nom+"</option>";
                            $('#equipeB').append(d);
                        })
                    }
                });
            });


            $("#phase").change(function()
            {
                if ($(this).val()!='Poule'){
                    //alert($(this).val());
                    $("#equipeA").empty();
                    $("#groupe").prop('disabled', true);

                    $("#equipeB").empty();
                }
                else{
                    $("#groupe").prop('disabled', false);

                }

            });


            $("#equipeA").submit(function(e) {

                var url = "path/to/your/script.php"; // the script where you handle the form input.

                $.ajax({
                    type: "POST",
                    url: url,
                    data: $("#idForm").serialize(), // serializes the form's elements.
                    success: function(data)
                    {
                        alert(data); // show response from the php script.
                    }
                });

                e.preventDefault(); // avoid to execute the actual submit of the form.
            });

        });

    </script>

{% endblock %}