{% extends 'backbase.html.twig' %}

{% block content %}
    <h1>Detailsstatistique</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ detailsStatistique.id }}</td>
            </tr>
            <tr>
                <th>Temps</th>
                <td>{{ detailsStatistique.temps }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ detailsStatistique.type }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ detailsStatistique.description }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('detailsstatistique_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('detailsstatistique_edit', { 'id': detailsStatistique.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
