{% extends 'base.html.twig' %}

{% block body %}
    <h1>Stade</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ stade.id }}</td>
            </tr>
            <tr>
                <th>Capacite</th>
                <td>{{ stade.capacite }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ stade.nom }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ stade.image }}</td>
            </tr>
            <tr>
                <th>Longitude</th>
                <td>{{ stade.longitude }}</td>
            </tr>
            <tr>
                <th>Latitude</th>
                <td>{{ stade.latitude }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('stade_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('stade_edit', { 'id': stade.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
