{% extends 'WorldCupRussiaBundle::base.html.twig' %}

{% block content %}
<h3>Liste detail feuil</h3>


<table class="table table-hover">

    <th>Feuil</th>
    <th>Match</th>
    <th>Action</th>


    {% for fd in feuildetail %}
        <tr>
            <td>{{ fd.Feuil.Titre }}</td>
            <td>{{ fd.matche.equipeA }} vs {{ fd.matche.equipeB }}</td>
            <td><a href="{{ path('supprimerfeuildetail',{'id':fd.matche.id,'id2':fd.Feuil.id}) }}"><span class="glyphicon glyphicon-remove-circle"></span> Supprimer</a></td>
        </tr>
    {% endfor %}

</table>
<a href="{{ path('ajouterfeuildetail',{'id':idfeuil}) }}"><span class="glyphicon glyphicon-plus"></span> Ajouter</a><br>
    <a href="{{ path('feuil_show',{'id':idfeuil}) }}"><span class="glyphicon glyphicon-arrow-left"></span> Retour</a>
{% endblock %}
