{% extends 'base.html.twig' %}

{% block content %}
    <h1>Feuil</h1>

    <table class="table table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ feuil.id }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ feuil.Etat }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ feuil.Titre }}</td>
            </tr>
            <tr>
                <th>Datef</th>
                <td>{% if feuil.DateF %}{{ feuil.DateF|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('feuil_index') }}"><span class="glyphicon glyphicon-arrow-left"></span> Back to the list</a>
        </li>
        <li>
            <a href="{{ path('feuil_edit', { 'id': feuil.id }) }}"><span class="glyphicon glyphicon-edit"></span> Edit</a>
        </li>
        <li>
            <a href="{{ path('affichefeuildetail', { 'id': feuil.id }) }}"><span class="glyphicon glyphicon-arrow-right"></span> Liste Match</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <button type="submit" value="Delete" class="btn btn-info">
            <span class="glyphicon glyphicon-remove-sign"></span> Delete
                    </button>
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
