{% extends 'base.html.twig' %}

{% block body %}
    <h1>Fichiers list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Path</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for fichier in fichiers %}
            <tr>
                <td><a href="{{ path('fichier_show', { 'id': fichier.id }) }}">{{ fichier.id }}</a></td>
                <td>{{ fichier.path }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('fichier_show', { 'id': fichier.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('fichier_edit', { 'id': fichier.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('fichier_new') }}">Create a new fichier</a>
        </li>
    </ul>
{% endblock %}
