{% extends 'base.html.twig' %}

{% block content %}
    <h1>{{ article.titre }}</h1>

    <table>
        <tbody>
            <tr hidden>
                <th>Id</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th>Description                    </th>
                <td>           {{ article.description }}</td>
            </tr>
            <tr>
                <th>Titre                       </th>
                <td>           {{ article.titre }}</td>
            </tr>
            <tr>
                <th>Date                       </th>
                <td>         {% if article.date %}{{ article.date|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('article_index') }}">Back to the list</a>
        </li>
        <li hidden>
            <a href="{{ path('article_edit', { 'id': article.id }) }}">Edit</a>
        </li>
        <li hidden>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock content %}
