{% extends 'WorldCupRussiaBundle::base.html.twig' %}

{% block content %}
{% for article in articles %}
<!-- Post Area 1 -->
<div class="posts posts--cards post-grid row">

    <div class="post-grid__item col-sm-6">
        <div class="posts__item posts__item--card posts__item--category-1 card">
            <figure class="posts__thumb">


            </figure>
            <div class="posts__inner card__content">


                <!-- date de l article -->
                <time datetime="2016-08-23" class="posts__date">{% if article.date %}{{ article.date|date('Y-m-d') }}{% endif %}</time>
                <!-- titre de l'article -->
                <img src="{{asset ('soccer\assets\images\tunisie.png')}}" alt=""></a>
                <h6 class="posts__title"><a href="{{ path('article_show',{'id' :article.id}) }}">{{ article.titre }}</a></h6>

                <!-- details article -->
                <div class="posts__excerpt">
                    {{ article.description }}
                </div>
            </div>
            <footer class="posts__footer card__footer">
                <div class="post-author">
                    <figure class="post-author__avatar">
                        <img src="{{asset ('soccer\assets\images\tunisie.png')}}" alt="Post Author Avatar" height="60" width="50">

                    </figure>
                    <div class="post-author__info">

                        <!-- auteur de l article -->
                        <h4 class="post-author__name">Touil Montassar</h4>
                    </div>
                </div>
                <ul class="post__meta meta">
                    <li class="meta__item meta__item--views">2369</li>
                    <li class="meta__item meta__item--likes"><a href="#"><i class="meta-like icon-heart"></i> 530</a></li>
                    <li class="meta__item meta__item--comments"><a href="#">18</a></li>
                </ul>
            </footer>
        </div>
    </div>






            </footer>
        </div>
    </div>

</div>
<!-- Post Area 1 / End -->

{% endfor %}
{% endblock content %}
