{% extends 'backbase.html.twig' %}




{% block content %}
    <h1>{{ categorie.titre }}</h1>

    <table>
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ categorie.id }}</td>
        </tr>
        <tr>
            <th>Titre                       </th>
            <td>           {{ categorie.titre }}</td>
        </tr>
        </tbody>
    </table>

    <ul>
        <button>
            <a href="{{ path('categorie_indexback') }}">Back to the list</a>
        </button>
        <button >
            <a href="{{ path('categorie_edit', { 'id': categorie.id }) }}">Edit</a>
        </button>
        <li hidden>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock content %}
