{% extends 'base.html.twig' %}

{% block content %}
    <h1>Commentairearticle</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ commentaireArticle.id }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ commentaireArticle.contenu }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('commentairearticle_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('commentairearticle_edit', { 'id': commentaireArticle.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock content %}
