<!DOCTYPE html>
<html lang="zxx">
<head>
    {% block head %}
        <!-- Basic Page Needs
        ================================================== -->
        {% block title %}  <title>Russia 2018 {% endblock %} </title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Alchemists - Sports News HTML Template">
        <meta name="author" content="Dan Fisher">
        <meta name="keywords" content="Sports News HTML Template">
        {% block stylesheet %}
            <!-- Favicons
            ================================================== -->
            <link rel="shortcut icon" href="{{ asset('soccer\assets\images\soccer\favicons\favicon.ico') }}">
            <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('soccer\assets\images\soccer\favicons\favicon-120.png') }}">
            <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('soccer\assets\images\soccer\favicons\favicon-152.png') }}">

            <!-- Mobile Specific Metas
            ================================================== -->
            <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">

            <!-- Google Web Fonts
            ================================================== -->
            <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CSource+Sans+Pro:400,700" rel="stylesheet">

            <!-- CSS
            ================================================== -->
            <!-- Preloader CSS -->
            <link href="{{ asset('soccer\assets\css\preloader.css') }}" rel="stylesheet">

            <!-- Vendor CSS -->
            <link href="{{ asset('soccer/assets/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
            <link href="{{ asset('soccer/assets/fonts/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
            <link href="{{ asset('soccer\assets\fonts\simple-line-icons\css\simple-line-icons.css') }}" rel="stylesheet">
            <link href="{{ asset('soccer\assets\vendor\magnific-popup\dist\magnific-popup.css') }}" rel="stylesheet">
            <link href="{{ asset('soccer/assets/vendor/slick/slick.css') }}" rel="stylesheet">

            <!-- Template CSS-->
            <link href="{{ asset('soccer/assets/css/style.css') }}"   rel="stylesheet">

            <!-- Custom CSS-->
            <link href="{{ asset('soccer\assets/css/custom.css') }}" rel="stylesheet">
        {% endblock %}

    {% endblock %}
</head>
<body class="template-soccer">

<div class="site-wrapper clearfix">
    <div class="site-overlay"></div>



    <!-- Header
    ================================================== -->

    <!-- Header Mobile -->
    <div class="header-mobile clearfix" id="header-mobile">

        <div class="header-mobile__inner">
            <a id="header-mobile__toggle" class="burger-menu-icon"><span class="burger-menu-icon__line"></span></a>
            <span class="header-mobile__search-icon" id="header-mobile__search-icon"></span>
        </div>
    </div>

    <!-- Header Desktop -->
    <header class="header">

        <!-- Header Top Bar -->
        <div class="header__top-bar clearfix">
            <div class="container">

                <!-- Account Navigation -->
                <ul class="nav-account">
                    <li class="nav-account__item"><a href="{{ asset('#')}}" data-toggle="modal" data-target="#modal-login-register-tabs">Your Account</a></li>


                    <li class="nav-account__item nav-account__item--logout"><a href="{{ asset('_soccer_shop-login.html')}}">Logout</a></li>
                </ul>
                <!-- Account Navigation / End -->

            </div>
        </div>
        <!-- Header Top Bar / End -->

        <!-- Header Secondary -->
        <div class="header__secondary">
            <div class="container">
                <!-- Header Search Form -->
                <div class="header-search-form">
                    <form action="#" id="mobile-search-form" class="search-form">
                        <input type="text" class="form-control header-mobile__search-control" value="" placeholder="Enter your seach here...">
                        <button type="submit" class="header-mobile__search-submit"><i class="fa fa-search"></i></button>
                    </form>
                </div>
                <!-- Header Search Form / End -->
                <ul class="info-block info-block--header">
                    <li class="info-block__item info-block__item--contact-primary">

                        <h6 class="info-block__heading">Join Our Team!</h6>
                        <a class="info-block__link" href="mailto:info-2018@Russia.com">info-2018@Russia.com</a>
                    </li>
                    <li class="info-block__item info-block__item--contact-secondary">

                        <h6 class="info-block__heading">Contact Us</h6>
                        <a class="info-block__link" href="mailto:info-2018@Russia.com">info-2018@Russia.com</a>
                    </li>

                </ul>
            </div>
        </div>
        <!-- Header Secondary / End -->

        <!-- Header Primary -->
        <div class="header__primary">
            <div class="container">
                <div class="header__primary-inner">

                    <!-- Header Logo -->

                    <!-- Header Logo / End -->

                    <!-- Main Navigation -->
                    <nav class="main-nav clearfix">
                        <ul class="main-nav__list">
                            <li class="active"><a href="{{ asset('_soccer_index.html') }}">Home</a></li>
                            <li class=""><a href="{{ asset('#') }}">Features</a>

                            </li>
                            <li class=""><a href="#">The Team</a>
                                <ul class="main-nav__sub">
                                    <li><a href="#">Game Overview</a></li>


                                </ul>
                            </li>
                            <li class=""><a href="#">News</a>
                                <ul class="main-nav__sub">
                                    <li><a href="#">News - version 1</a></li>

                                </ul>
                            </li>
                            <li class=""><a href="{{ path('ajouterPronostique') }}">Pronostic</a>
                            </li>
                            <li class=""><a href="#">Shop</a>
                                <ul class="main-nav__sub">
                                    <li><a href="#">Shop - Grid</a></li>

                                </ul>
                            </li>
                        </ul>

                        <!-- Social Links -->
                        <ul class="social-links social-links--inline social-links--main-nav">
                            <li class="social-links__item">
                                <a href="#" class="social-links__link" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li class="social-links__item">
                                <a href="#" class="social-links__link" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li class="social-links__item">
                                <a href="#" class="social-links__link" data-toggle="tooltip" data-placement="bottom" title="Google+"><i class="fa fa-google-plus"></i></a>
                            </li>
                        </ul>
                        <!-- Social Links / End -->

                        <!-- Pushy Panel Toggle -->
                        <a href="#" class="pushy-panel__toggle">
                            <span class="pushy-panel__line"></span>
                        </a>
                        <!-- Pushy Panel Toggle / Eng -->
                    </nav>
                    <!-- Main Navigation / End -->
                </div>
            </div>
        </div>
        <!-- Header Primary / End -->

    </header>
    <!-- Header / End -->

    <!-- Pushy Panel - Dark -->
    <aside class="pushy-panel pushy-panel--dark">
        <div class="pushy-panel__inner">
            <header class="pushy-panel__header">

            </header>
            <div class="pushy-panel__content">

                <!-- Widget: Posts -->
                <aside class="widget widget-popular-posts widget--side-panel">
                    <div class="widget__content">

                        <ul class="posts posts--simple-list">
                            <li class="posts__item posts__item--category-1">
                                <figure class="posts__thumb">
                                    <a href="#"><img src="{{ asset('assets\images\samples\post-img19-xs.jpg')}}" alt=""></a>
                                </figure>
                                <div class="posts__inner">
                                    <div class="posts__cat">
                                        <span class="label posts__cat-label">The team</span>
                                    </div>
                                    <h6 class="posts__title"><a href="#">The Team will make a small vacation to the Caribbean</a></h6>
                                    <time datetime="2016-08-23" class="posts__date">August 23rd, 2016</time>
                                </div>
                                <div class="posts__excerpt">
                                    Lorem ipsum dolor sit amet, consectetur adipisi ng elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                </div>
                            </li>
                            <li class="posts__item posts__item--category-2">
                                <figure class="posts__thumb">
                                    <a href="#"><img src="{{ asset('assets\images\samples\post-img18-xs.jpg')}}" alt=""></a>
                                </figure>
                                <div class="posts__inner">
                                    <div class="posts__cat">
                                        <span class="label posts__cat-label">Injuries</span>
                                    </div>
                                    <h6 class="posts__title"><a href="#">Jenny Jackson won't be able to play the next game</a></h6>
                                    <time datetime="2016-08-23" class="posts__date">August 23rd, 2016</time>
                                </div>
                                <div class="posts__excerpt">
                                    Lorem ipsum dolor sit amet, consectetur adipisi ng elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                </div>
                            </li>
                            <li class="posts__item posts__item--category-1">
                                <figure class="posts__thumb">
                                    <a href="#"><img src="{{ asset('assets\images\samples\post-img8-xs.jpg')}}" alt=""></a>
                                </figure>
                                <div class="posts__inner">
                                    <div class="posts__cat">
                                        <span class="label posts__cat-label">The Team</span>
                                    </div>
                                    <h6 class="posts__title"><a href="#">The team is starting a new power breakfast regimen</a></h6>
                                    <time datetime="2016-08-23" class="posts__date">August 23rd, 2016</time>
                                </div>
                                <div class="posts__excerpt">
                                    Lorem ipsum dolor sit amet, consectetur adipisi ng elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                </div>
                            </li>
                            <li class="posts__item posts__item--category-3">
                                <figure class="posts__thumb">
                                    <a href="#"><img src="{{ asset('assets\images\samples\post-img20-xs.jpg')}}" alt=""></a>
                                </figure>
                                <div class="posts__inner">
                                    <div class="posts__cat">
                                        <span class="label posts__cat-label">The League</span>
                                    </div>
                                    <h6 class="posts__title"><a href="#">The Alchemists need two win the next two games</a></h6>
                                    <time datetime="2016-08-23" class="posts__date">August 23rd, 2016</time>
                                </div>
                                <div class="posts__excerpt">
                                    Lorem ipsum dolor sit amet, consectetur adipisi ng elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                </div>
                            </li>
                        </ul>

                    </div>
                </aside>
                <!-- Widget: Posts / End -->

                <!-- Widget: Tag Cloud -->
                <aside class="widget widget--side-panel widget-tagcloud">
                    <div class="widget__title">
                        <h4>Popular Tags</h4>
                    </div>
                    <div class="widget__content">
                        <div class="tagcloud">
                            <a href="#" class="btn btn-primary btn-xs btn-outline btn-sm">PLAYOFFS</a>

                        </div>
                    </div>
                </aside>
                <!-- Widget: Tag Cloud / End -->

                <!-- Widget: Banner -->
                <aside class="widget widget--side-panel widget-banner">
                    <div class="widget__content">
                        <figure class="widget-banner__img">
                            <a href="#"><img src="{{ asset('assets\images\samples\banner.jpg')}}" alt="Banner"></a>
                        </figure>
                    </div>
                </aside>
                <!-- Widget: Banner / End -->

            </div>
            <a href="#" class="pushy-panel__back-btn"></a>
        </div>
    </aside>
    <!-- Pushy Panel - Dark / End -->



    <!-- Page Heading
    ================================================== -->
    <div class="page-heading">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <h1 class="page-heading__title">Login and <span class="highlight">Register</span></h1>
                    <ol class="page-heading__breadcrumb breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Shop</a></li>
                        <li class="active">Login or Register</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <!-- Content
    ================================================== -->
    <div class="site-content">
        <div class="container">

            {% block content %}{% endblock %}

        </div>
    </div>

    <!-- Content / End -->

    <!-- Footer
    ================================================== -->
    <footer id="footer" class="footer">

        <!-- Footer Widgets -->
        <div class="footer-widgets">
            <div class="footer-widgets__inner">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-md-3">
                            <div class="footer-col-inner">

                                <!-- Footer Logo -->
                                <div class="footer-logo footer-logo--has-txt">
                                    <a href="#">

                                        <div class="footer-logo__heading">
                                            <h5 class="footer-logo__txt">Russia2018</h5>
                                            <span class="footer-logo__tagline">2018</span>
                                        </div>
                                    </a>
                                </div>
                                <!-- Footer Logo / End -->

                                <!-- Widget: Contact Info -->
                                <div class="widget widget--footer widget-contact-info">
                                    <div class="widget__content">
                                        <div class="widget-contact-info__desc">
                                            <p>test</p>
                                        </div>
                                        <div class="widget-contact-info__body info-block">
                                            <div class="info-block__item">

                                                <h6 class="info-block__heading">Contact Us</h6>
                                                <a class="info-block__link" href="mailto:info@alchemists.com">info@alchemists.com</a>
                                            </div>
                                            <div class="info-block__item">

                                                <h6 class="info-block__heading">Join Our Team!</h6>
                                                <a class="info-block__link" href="mailto:tryouts@alchemists.com">tryouts@alchemists.com</a>
                                            </div>
                                            <div class="info-block__item info-block__item--nopadding">
                                                <ul class="social-links">
                                                    <li class="social-links__item">
                                                        <a href="#" class="social-links__link"><i class="fa fa-facebook"></i> Facebook</a>
                                                    </li>
                                                    <li class="social-links__item">
                                                        <a href="#" class="social-links__link"><i class="fa fa-twitter"></i> Twitter</a>
                                                    </li>
                                                    <li class="social-links__item">
                                                        <a href="#" class="social-links__link"><i class="fa fa-google-plus"></i> Google+</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Widget: Contact Info / End -->
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="footer-col-inner">
                                <!-- Widget: Popular Posts / End -->
                                <div class="widget widget--footer widget-popular-posts">
                                    <h4 class="widget__title">Popular News</h4>
                                    <div class="widget__content">
                                        <ul class="posts posts--simple-list">
                                            <li class="posts__item posts__item--category-1">
                                                <figure class="posts__thumb posts__thumb--hover">
                                                    <a href="#"><img src="{{ asset('assets\images\samples\post-img3-xs.jpg')}}" alt=""></a>
                                                </figure>
                                                <div class="posts__inner">
                                                    <div class="posts__cat">
                                                        <span class="label posts__cat-label">The Team</span>
                                                    </div>
                                                    <h6 class="posts__title"><a href="#">The new eco friendly stadium won a Leafy Award in 2017</a></h6>
                                                    <time datetime="2017-08-21" class="posts__date">August 21st, 2017</time>
                                                </div>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                                <!-- Widget: Popular Posts / End -->
                            </div>
                        </div>
                        <div class="clearfix visible-sm"></div>
                        <div class="col-sm-6 col-md-3">
                            <div class="footer-col-inner">
                                <!-- Widget: Featured News / End -->
                                <div class="widget widget--footer widget-featured-posts">
                                    <h4 class="widget__title">Featured News</h4>
                                    <div class="widget__content">
                                        <ul class="posts posts--simple-list">
                                            <li class="posts__item posts__item--category-1">
                                                <figure class="posts__thumb posts__thumb--hover">
                                                    <a href="#"><img src="{{ asset('assets\images\samples\post-img21-xs.jpg')}}" alt=""></a>
                                                </figure>
                                                <div class="posts__inner">
                                                    <div class="posts__cat">
                                                        <span class="label posts__cat-label">The Team</span>
                                                    </div>
                                                    <h6 class="posts__title"><a href="#">The team trainings are instensifying looking at the next match</a></h6>
                                                    <time datetime="2017-08-21" class="posts__date">August 21st, 2017</time>
                                                </div>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                                <!-- Widget: Featured News / End -->
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="footer-col-inner">

                                <!-- Widget: Contact / End -->
                                <div class="widget widget--footer widget-contact">
                                    <h4 class="widget__title">Quick Contact</h4>
                                    <div class="widget__content">
                                        <p>Lorem ipsum dolor sit amet, consectetur cing elit, sed do eiusmod tempor.</p>
                                        <form action="#" class="contact-form">
                                            <div class="form-group form-group--xs">
                                                <input type="email" class="form-control input-sm" id="contact-form-email" placeholder="Your email address...">
                                            </div>
                                            <div class="form-group form-group--xs">
                                                <textarea class="form-control input-sm" name="contact-form-message" rows="4" placeholder="Your message..."></textarea>
                                            </div>
                                            <button type="submit" class="btn btn-primary-inverse btn-sm btn-block">Send Your Message</button>
                                        </form>
                                    </div>
                                </div>
                                <!-- Widget: Contact / End -->


                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
        <!-- Footer Widgets / End -->

        <!-- Footer Secondary -->
        <div class="footer-secondary">
            <div class="container">
                <div class="footer-secondary__inner">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="footer-copyright"><a href="#">russia</a> 2018 &nbsp; | &nbsp; All Rights Reserved</div>
                        </div>
                        <div class="col-md-8">
                            <ul class="footer-nav footer-nav--right footer-nav--condensed footer-nav--sm">
                                <li class="footer-nav__item"><a href="#">Home</a></li>
                                <li class="footer-nav__item"><a href="#">Features</a></li>
                                <li class="footer-nav__item"><a href="#">The Team</a></li>
                                <li class="footer-nav__item"><a href="#">News</a></li>
                                <li class="footer-nav__item"><a href="{{ path('ajouterPronostique') }}">Pronostic</a></li>
                                <li class="footer-nav__item"><a href="#">Shop</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Secondary / End -->
    </footer>
    <!-- Footer / End -->


    <!-- Login/Register Tabs Modal -->
    <div class="modal fade" id="modal-login-register-tabs" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg modal--login modal--login-only" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">

                    <div class="modal-account-holder">
                        <div class="modal-account__item modal-account__item--logo">
                            <p class="modal-account__item-register-txt">Don’t have an account? <a href="#">Register Now</a> and enjoy all our benefits!</p>
                        </div>
                        <div class="modal-account__item">

                            <!-- Tab panes -->
                            <div class="tab-content">

                                <!-- Tab: Login -->
                                <div role="tabpanel" class="tab-pane fade in active" id="tab-login">

                                    <!-- Login Form -->
                                    <form action="#" class="modal-form">
                                        <h5>Login to your account</h5>
                                        <div class="form-group">
                                            <input type="email" class="form-control" placeholder="Enter your email address...">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control" placeholder="Enter your password...">
                                        </div>
                                        <div class="form-group form-group--pass-reminder">
                                            <label class="checkbox checkbox-inline">
                                                <input type="checkbox" id="inlineCheckbox1" value="option1" checked=""> Remember Me
                                                <span class="checkbox-indicator"></span>
                                            </label>
                                            <a href="#">Forgot your password?</a>
                                        </div>
                                        <div class="form-group form-group--submit">
                                            <a href="#" class="btn btn-primary-inverse btn-block">Enter to your account</a>
                                        </div>
                                        <div class="modal-form--social">
                                            <h6>or Login with your social profile:</h6>
                                            <ul class="social-links social-links--btn text-center">
                                                <li class="social-links__item">
                                                    <a href="#" class="social-links__link social-links__link--lg social-links__link--fb"><i class="fa fa-facebook"></i></a>
                                                </li>
                                                <li class="social-links__item">
                                                    <a href="#" class="social-links__link social-links__link--lg social-links__link--twitter"><i class="fa fa-twitter"></i></a>
                                                </li>
                                                <li class="social-links__item">
                                                    <a href="#" class="social-links__link social-links__link--lg social-links__link--gplus"><i class="fa fa-google-plus"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </form>
                                    <!-- Login Form / End -->

                                </div>
                                <!-- Tab: Login / End -->

                                <!-- Tab: Register -->
                                <div role="tabpanel" class="tab-pane fade" id="tab-register">

                                    <!-- Register Form -->
                                    <form action="#" class="modal-form">
                                        <h5>Register Now!</h5>
                                        <div class="form-group">
                                            <input type="email" class="form-control" placeholder="Enter your email address...">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control" placeholder="Enter your password...">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control" placeholder="Repeat your password...">
                                        </div>
                                        <div class="form-group form-group--submit">
                                            <a href="#" class="btn btn-success btn-block">Create Your Account</a>
                                        </div>
                                        <div class="modal-form--note">You’ll receive a confirmation email in your inbox with a link to activate your account. </div>
                                    </form>
                                    <!-- Register Form / End -->

                                </div>
                                <!-- Tab: Register / End -->

                            </div>

                            <!-- Nav tabs -->
                            <div class="nav-tabs-login-wrapper">
                                <ul class="nav nav-tabs nav-justified nav-tabs--login" role="tablist">
                                    <li role="presentation" class="active"><a href="#tab-login" role="tab" data-toggle="tab">Login</a></li>
                                    <li role="presentation"><a href="#tab-register" role="tab" data-toggle="tab">Register</a></li>
                                </ul>
                            </div>
                            <!-- Nav tabs / End -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Login/Register Tabs Modal / End -->


</div>

<!-- Javascript Files
================================================== -->
<!-- Core JS -->
<script src="{{ asset('assets\vendor\jquery\jquery.min.js')}}"></script>
<script src="{{ asset('assets\js\core-min.js')}}"></script>

<!-- Vendor JS -->
<script src="{{ asset('assets\vendor\twitter\jquery.twitter.js')}}"></script>


<!-- Template JS -->
<script src="{{ asset('assets\js\init.js')}}"></script>
<script src="{{ asset('assets\js\custom.js')}}"></script>

</body>
</html>

